<!DOCTYPE html>
<html lang="en">
	<head>
		<%= yield_content :page_title %>
		<link rel="stylesheet" href="/css/bootstrap.css">
		<%= yield_content :extra_stylesheets %>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	</head>
<body>
	<%= yield %>
	<script src="js/bootstrap.min.js"></script>
	<%= yield_content :more_js %>
</body>	